body {
  margin: 5%;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App{
  display: flexbox;
  flex-direction: column;
  /*width: 80%;
  height: 30%;*/
  text-align: center;
  background-color: #4e4d4d;
  color:wheat;

}

.Nombre{
  font-size: 13pt;
  color: wheat;

}

.Clave{
  font-size: 13pt;
  color: wheat;

}

/*.Form.Text{

  display: block
}*/

/*.header {
  width: 100%;
  height: 80%;
  text-align: center;
  background-color: #4e4d4d;
  color:wheat;
}*/

.Formulario { 
  display: flexbox;
  flex-direction: column;
  width: 100%;
  /*height: 70%;*/
  /*box-shadow: 1px 1px 5px 1px #e1e2e1;
  border-radius: 40px;
  box-shadow: 8px 4px 4px rgba(247, 196, 54, 0.108);*/
  margin: 5%;
  cursor: pointer;
  /*padding: 20%;
  gap: 90px;*/
}

.Boton{
  display: flexbox;
  flex-direction: column;
  margin: 5%;
  cursor: pointer;
   padding: 10%;
  /*gap: 90px;*/

}